@using System.Security.Claims;
@model Application.DTO.UsuarioDTO;

@if (ViewData["message"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@ViewData["message"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="col-md-3">

    <!-- Profile Image -->
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                     src="~/Imagen/Perfil/@Model.Perfil" 
                     alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">
                @Model.Apellido  @Model.Nombre
            </h3>

            <p class="text-muted text-center">@Model.CorreoElectronico</p>

         

      
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <!-- /.card -->
</div>
<!-- /.col -->
<div class="col-md-9">
    <div class="card">
        <div class="card-header p-2">
            <ul class="nav nav-pills">
            
                <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
          
 
                    <form class="form-horizontal" asp-action="Perfil" asp-controller="Perfil" method="post">
                <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Id</label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Id" />
                    </div>
                </div>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputName" placeholder="Name" value="@Model.Nombre  @Model.Apellido" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="@Model.CorreoElectronico" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputName2" class="col-sm-2 col-form-label">Clave</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName2" placeholder="Name" value="@Model.Clave" disabled>
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label for="inputSkills" class="col-sm-2 col-form-label">Llave Secreta</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="LlaveSecreta" disabled>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-danger">Enviar</button>
                            </div>
                        </div>
                    </form>
            
        </div><!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>