@* @inject INotificationStore _notificationStore *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MailGateway</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
    <!-- Inter (para títulos y botones) -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Roboto (para texto general y menús) -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini ">
    <main class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="~/Imagen/logo.png" alt="AdminLTELogo" height="60" width="60">
        </div>
        <!-- Navbar -->
        @Html.Partial("_NavBar")
        <!-- Main Sidebar Container -->
        @Html.Partial("_SideBar")
        <!-- Content Wrapper. Contains page content -->
        <section class="content-wrapper">
            @if (ViewBag.ContentHeader != null) {
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row ">

                            <h3 class=" ">@ViewBag.ContentHeader</h3>


                    </div>
                </div><!-- /.container-fluid -->
            </section>
            }
            <section class="content">
                <div class="row mt-5">
                    @RenderBody()
                  
                   <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
        </section>
        <!-- Main Footer -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright &copy; 2015 <a href="#">Jordan Alexander Castro Lino</a>.</strong> Todo los derechos reservados.
        </footer>
    </main>

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- Bootstrap -->
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js" asp-append-version="true"></script>
    <script src="~/js/demo.js"> </script>
    <script src="~/js/notificaciones.js"></script>


    <script>

        $(document).ready(function () {
            ObtenerMensajesEnviados();
            setInterval(ObtenerMensajesEnviados, 5000); // Actualiza cada 5 segundos
            ObtenerMensajesRecibidos();
           setInterval(ObtenerMensajesRecibidos, 5000);
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>